<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.veacon.sdk">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="VeaconSDK">

        <service
            android:enabled="true"
            android:name="com.veacon.sdk.protocol.VLBeaconIntentProcessor">
        </service>

        <service
            android:name="com.veacon.sdk.protocol.VLBeaconService">
            <intent-filter>
                <action android:name="com.veacon.sdk.protocol.VLBeaconService">
                </action>
            </intent-filter>
        </service>

        <receiver android:name="com.veacon.sdk.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED">
                </action>
                <category android:name="android.intent.category.HOME">
                </category>
            </intent-filter>
        </receiver>

        <activity android:name="com.veacon.sdk.ui.BrowserActivity">

        </activity>

        <activity android:name="com.veacon.sdk.ui.AlertActivity">

        </activity>

    </application>

</manifest>
